<div>
	<!-- 导航 -->
	<div class='heades'>
		<ul class="public_nav">
			<li ng-class="{'current':iscurrent==0}"  ng-click='nav(0,"")'><a href="#">全部</a></li>
			<li ng-class="{'current':iscurrent==1}"  ng-click='nav(1,"good")'><a href="#">精华</a></li>
			<li ng-class="{'current':iscurrent==2}"  ng-click='nav(2,"share")'><a href="#">分享</a></li>
			<li ng-class="{'current':iscurrent==3}"  ng-click='nav(3,"ask")'><a href="#">问答</a></li>
			<li ng-class="{'current':iscurrent==4}" ng-click='nav(4,"job")'><a href="#/index/home/job">招聘</a></li>
		</ul>
	</div>
	<div class='before'></div>
	</div>